<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paipaiwang.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.paipaiwang.po.Admin" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="super_user" property="superUser" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    username, password, super_user, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_admin
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.paipaiwang.po.Admin" >
    insert into t_admin (username, password, super_user, 
      remark, create_time)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{superUser,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.paipaiwang.po.Admin" >
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="superUser != null" >
        super_user,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="superUser != null" >
        #{superUser,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paipaiwang.po.Admin" >
    update t_admin
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="superUser != null" >
        super_user = #{superUser,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paipaiwang.po.Admin" >
    update t_admin
    set password = #{password,jdbcType=VARCHAR},
      super_user = #{superUser,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where username = #{username,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
  <!-- 通过关键字分页查询, 返回数据集 -->
  <select id="selectPageList" parameterType="page" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" /> 
    from t_admin 
      <where>
      <if test="keyWord!=null">
      	<bind name="key" value="'%' + keyWord + '%'"/>
      	and  ( username like #{key}  or remark like #{key}  ) 
      </if>
	  </where>
	  order by create_time
      limit #{start},#{rows}
  </select>
  <!-- 通过关键字分页查询，返回总记录数 #{keyWord}-->
  <select id="selectPageCount" parameterType="page" resultType="Integer">
  	select count(1) from t_admin 
  	 <where>
      <if test="keyWord!=null">
      	<bind name="key" value="'%' + keyWord + '%'"/>
      	and  ( username like #{key}  or remark like #{key}  ) 
      </if>
	  </where>
  </select>
  
  
  
  
  
  
</mapper>